body{
    margin: 0;
    padding: 0;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
    height: 100vh;
}
.Loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
    padding: 70px 30px;

}
.icon{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    bottom: 88%;
    left: calc(50% - 50px);
    
}
h1{
    margin: 0;
    padding: 0  0   20px;
    text-align: center;
    font-size: 22px;
}
/* .Loginbox{
    margin: 0;
    padding: 0;
    font-weight: bold;
} */
.Loginbox input{
    width: 100%;
    margin-bottom: 5px;
}
.Loginbox input[type="text"], input[type="password"]
{
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    height: 18px;
    color: #fff;
    font-size: 16px;
}
.Loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 30px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 5%;
}

.Loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.Loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.Loginbox a:hover{
    color: #fff;
}